.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: black;
    opacity: 0.35;
    z-index: 20;
}

.modal {
    position: fixed;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: lime;
    z-index: 21;
}

.buttons {
    margin-top: 10px;
    padding: 0 50px;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
}

.up {
    top: 80vh;
    left: 60px;
    opacity: .7;
}