.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.preloader {
    height: 100px
}

.answerServer {
    height: 20px;
    color: red
}

img {
    height: 150%;
}