.mainContainer {
    border: #161615 2px solid;
    height: 82vh;
    background: #706e70;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #161615 2px solid;
    width: 50vh;
    margin: 0 auto;
    background: #c8aac8;
    height: 350px;
}

.answerServer {
    height: 20px;
    color: red
}
