.default {
    font-weight: bold;
    border-radius: 3px;
    margin: 3px;
    cursor: pointer;
}

.default:hover {
    background: #b3affa;
}

.red {
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    width: 90px;
    font-weight: bold;
    margin: 20px auto;
    padding: 1px 5px;
    border-radius: 4px;
    color: white;
    background: red;
    border: 1px solid white;
}

.red:hover {
    background: #ec2626;
}