.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.error {
    padding: 3px;
    font-size: 15px;
    letter-spacing: 1px;
    color: red;
}

.preloader {
    height: 100px
}

.answerServer {
    height: 20px
}

img {
    height: 150%;
}