.tableBody {
    border: 1px solid lime;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tableBody_name {
    width: 25%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tableBody_cardsCount {
    width: 10%;
}

.tableBody_updated {
    width: 10%;
}

.tableBody_user {
    width: 25%;
}

.tableBody_buttons {
    display: flex;
    width: 20%;
    justify-content: space-around;
}