.tableBody {
    border: black 1px solid;
    margin: 3px 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(250, 236, 222, 0.9);
}

.tableBody_name {
    width: 25%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tableBody_cardsCount {
    width: 10%;
}

.tableBody_updated {
    width: 10%;
}

.tableBody_user {
    width: 25%;
}

.tableBody_buttons {
    display: flex;
    width: 20%;
    /*justify-content: space-around;*/
    justify-content: space-between;
}