.errorText {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
    color: red;
}

.table {
    margin: 0 10px;
    padding: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}


.tableHeader {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(150, 140, 130, 0.9);
}

.tableHeader_packsName {
    width: 25%;
}

.tableHeader_cardsCount {
    width: 10%;
}

.tableHeader_updated {
    width: 10%;
}

.tableHeader_user {
    width: 25%;
}

.tableHeader_buttonAdd {
    width: 20%;
}

button {
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #000000;
}

button:hover {
    background-color: #b3affa;
}

