.loginMainContainer {
    border: #161615 2px solid;
    height: 82vh;
    background: #706e70;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #161615 2px solid;
    width: 50vh;
    margin: 0 auto;
    background: #c8aac8;
    height: 350px;
}

.forgot {
    display: flex;
    justify-content: space-around;
    width: 270px;
}

.error {
    padding: 3px;
    font-size: 15px;
    letter-spacing: 1px;
    color: red;
}

.preloader {
    /*height: 50px;*/
    /*width: 50px;*/
}

.answerServer {
    height: 20px
}